body {
    background-image: url('../css/fotos/correndo.jpeg');
    background-size: cover; /* A imagem irá cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* A imagem fica fixa enquanto você rola a página */
    margin: 0;
    padding: 0;
}






/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos da Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.navbar .logo {
    font-size: 1.5rem;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 2rem;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #ff6347;
}

/* Estilos do conteúdo dinâmico */
main {
    padding: 2rem;
    min-height: 60vh;
}

/* Estilos do Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}



/* carrossel*/
.carrossel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;

}

.carrossel-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-imagens img {
    width: 100%;
    height: auto;
    display: block;
}


